/*

UNIVERSAL SETTINGS

*/
html{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("assets/destination/background-destination-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Bellefair', serif;
    font-size: 150px;
    color: #ffffff;
    font-weight: 100;
}

h2{
    font-family: 'Bellefair', serif;
    font-size: 100px;
    color: #ffffff;
    font-weight: 100;
}

h3{
    font-family: 'Bellefair', serif;
    font-size: 58px;
    color: #ffffff;

}

h4{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;

}

h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: #D0D6F9;
    font-weight: 400;
}

p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    font-weight: 200;
    letter-spacing: 1.2px;
    
}

.distance{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: #ffffff;
}

/*

Nav

*/

.nav{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1vw;
    letter-spacing: 2.7px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#sticky{
    position: sticky;
    top: 0;
    width: 100%;
}

#top{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden; 
}

#pageTitle{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 150px;
    z-index: 1;
}

#titleNumber h5{
    font-weight: 400;
    font-size: 28px;
    margin: 0 20px 0 0;
}

#titleHeading h5{
    font-weight: 100;
    font-size: 28px;
    margin: 0;
}

#logoSection{
    z-index: 666;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 40%;
    display: flex;
    flex-direction: row;
}

#logoHolder{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hrHolder{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#navSection{
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 60%;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navHolder{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff11;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    z-index: 999;
}

.navBlock{
    box-sizing: content-box;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navBlock:hover{
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.nav{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12px;
    letter-spacing: 2.7px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
}

.navNum{
    margin-right: 10px;
    font-weight: 700;
}

/*

MOBILE NAV

*/

#mobileSticky{
    position: sticky;
    top: 0;
    width: 100%;
}

#mobileNavSection{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #ffffff11;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    z-index: -100;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mobileNavBlock:hover{
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.mobileNav{
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12px;
    letter-spacing: 2.7px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
    opacity: 0;
}

.navNum{
    margin-right: 10px;
    font-weight: 700;
}

#mobileNavHolder{
    width: 80vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#menuIconSection{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#menuIconHolder{
    width: 25%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
   
}

/*

Content

*/

#bottom{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left{
    width: 40%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

#imageContainer{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#imageContainer img{
    width: 100%;
    min-width: 300px;
    height: auto;
    
}

#right{
    width: 40%;
    min-width: 380px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#discriptionContainer{
    width: 70%;
    height: 90%;
    min-width: 380px;
    display: flex;
    flex-wrap: wrap;
}

#destinationTabs{
    width: 50%;
    min-width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 0;
    visibility: visible;
}

.destTabs{
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: #D0D6F9;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destTabs:hover{
    cursor: pointer;
    color: #D0D6F9;
}

#destinationTitle{
    margin: 0;
    text-align: left;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: auto;
}

#destinationTitle h2{
    margin: 0;
}

#destinationDisc{
    width: 75%;
    min-width: 380px;
}

#travelRow{
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#destinationDistance{
    width: 40%;
    min-width: 200px;
}

#destinationDistance h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #D0D6F9;
    margin: 0 0 15px 0;
}

#destinationDistance h3{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 100;
    margin: 0;
}

#destinationHr hr{
    width: 100%;
    height: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#destinationTime{
    width: 40%;
    min-width: 160px;
}

#destinationTime h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #D0D6F9;
    margin: 0 0 15px 0;
}

#destinationTime h3{
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    
}

@media only screen and (max-width: 768px){

/*

NAV

*/


#top{
    height: 200px;
    width: 100%;
}

#pageTitle{
    left: 50px;
}

#logoHolder{
    width: 200px;
}

#navSection{
    width: 50%;
    min-width: 450px;
}

#navHolder{
    background-color: #ffffff11;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    z-index: 999;
    overflow: hidden;
}

/*

CONTENT

*/

body{
    background-image: url("assets/destination/background-destination-tablet.jpg");
}

#bottom{
    flex-direction: column;
}

#left{
    width: 100%;
    justify-content: center;
    height: 450px;
}

#imageContainer{
    width: 80%;
    height: auto;
}

#imageContainer img{
    max-width: 400px;
    min-width: unset;
}

#right{
    width: 100%;
    justify-content: center;
}

#discriptionContainer{
    width: 100%;
    justify-content: center;
}

#destinationTitle{
    justify-content: center;
    margin: 30px 0 30px;
}

#destinationDisc{
    text-align: center;
    margin-bottom: 30px;
}

#travelRow{
    width: 50%;
    min-width: 350px;
    margin-bottom: 30px;
}

#destinationDistance{
    text-align: center;
    min-width: unset;
    width: 160px;
}

#destinationTime{
    text-align: center;
    margin-bottom: 60px;
}

}

@media only screen and (max-width: 550px){
        
#mobileNavSection{
    display: flex;
}

#top{
    height: 150px;
}

#logoHolder{
    width: 65%;
}

#hrHolder{
    display: none;
}

#navSection{
    display: none;
}

#menuIconHolder{
    display: flex;
}

#titleNumber h5{
    font-weight: 400;
    font-size: 21px;
    margin: 0 20px 0 0;
}

#titleHeading h5{
    font-weight: 100;
    font-size: 21px;
    margin: 0;
}
    
}

@media only screen and (max-width: 425px){

#right{
    min-width: unset;
}

#discriptionContainer{
    min-width: unset;
}

#destinationTitle{
    min-width: unset;
}

#destinationTitle h2{
    font-size: 25vw;
}

#destinationDisc{
    width: 80%;
    min-width: unset;
}

#travelRow{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: unset;
}

#destinationDistance{
    margin-bottom: 30px;
}

}